<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Maintanence</title>
  </head>
  <body>
    {{> header}}
    {{!-- Helper and argument --}}
    <p> {{msg}}</p>

    {{> footer}}
  </body>
</html>